.bounce {
    animation: bounce 1s infinite;
}

@mixin bounce($durata: null, $distanza: null, $altezza){
    animation-duration: $durata;
    transform: translateY($distanza);
    height: $altezza;
}

@keyframes bounce{
    0% {@include bounce(0.5s, 0, 102px)}
    20% {@include bounce(1s, -10px, 115px)}
    40% {@include bounce(1s, -20px, 118px)}
    60% {@include bounce(1s, -30px, 120px)}
    80% {@include bounce(1s, -20px, 118px)}
    100% {@include bounce(0.5s, -10px, 115px)}
}



body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(219, 186, 109);
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        background-color: red;
        width: 120px;
        height: 120px;
        border-radius: 70px;
    }
}

